@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Jeju Gothic', sans-serif;
}
h5 {
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 18px;
}
body {
	font-family: 'Nanum Gothic', sans-serif;
}